body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #76c6f5;
}

/* MAIN CONTAINER */
.container {
    width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: #f786bb;
    border: 5px solid #333;
    position: relative;
}

/* TOP SECTION */
.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* FEEDBACK BOX */
.feedback {
    width: 200px;
    height: 150px;
    background: #ccc;
    padding: 10px;
}

.feedback h3 {
    margin: 0 0 10px;
    font-size: 14px;
}



/* AVATAR */
.avatar {
    text-align: center;
}

.avatar-circle {
    width: 120px;
    height: 120px;
    background: #bbb;
    border-radius: 50%;
    margin: auto;
    position: relative;
}



.avatar-circle::before {
    transform: rotate(45deg);
}

.avatar-circle::after {
    transform: rotate(-45deg);
}

/* SCORE */
.score {
    width: 250px;
}

.score-bar {
    height: 20px;
    background: #ccc;
    margin-top: 10px;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
}

.hole {
    width: 100px;
    height: 100px;
    background: #bbb;
    position: relative;
}


.hole::before {
    transform: rotate(45deg);
}

.hole::after {
    transform: rotate(-45deg);
}

/* BUTTONS */
.buttons {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

button {
    display: block;
    width: 120px;
    padding: 10px;
    margin: 10px 0;
    background: #f5c802;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

/* TITLE */
.title {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}